<div class="table-container">
  <h2>Project Details</h2>
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
 
  <table *ngIf="projects.length > 0">
    <thead>
      <tr>
        <th>Project ID</th>
        <th>Project Name</th>
        <th>Description</th>
        <th>Required Skills</th>
        <th>Capacity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td>{{ project.proId }}</td>
        <td>{{ project.proName }}</td>
        <td>{{ project.proDescription }}</td>
        <td>{{ project.requiredSkills }}</td>
        <td>{{ project.capacity }}</td>
      </tr>
    </tbody>
  </table>
 
  <p *ngIf="projects.length === 0 && !errorMessage">No projects found.</p>
</div>
 
