<h2>Add New Employee</h2>
 
<form (ngSubmit)="addEmployee()">
 
  <label>Name:</label>
  <input type="text" [(ngModel)]="employee.empName" name="name" required><br><br>


  <label>Email</label>
  <input type="text" [(ngModel)]="employee.email" name="email" required><br><br>
  
  <label for="role">Role:</label>
    <select id="role" name="role" [(ngModel)]="employee.role" required>
      <option value="" disabled selected>Select Role</option>
      <option value="admin">Admin</option>
      <option value="manager">Manager</option>
      <option value="employee">Employee</option>
    </select>

  <label>Designation:</label>
  <input type="text" [(ngModel)]="employee.designation" name="designation" required><br><br>
 
  <label>Is Available:</label>
  <select [(ngModel)]="employee.available" name="isAvailable">
    <option [value]="true">Yes</option>
    <option [value]="false">No</option>
  </select><br><br>
 
  <label>Project ID:</label>
  <select [(ngModel)]="employee.projectEntity.proId" name="projectId" required>
    <option value="">-- Select Project ID --</option>
    <option *ngFor="let pid of projectIds" [value]="pid">{{ pid }}</option>
  </select><br><br>
 
  <label>Skillsets:</label><br>
  <div *ngFor="let skill of skills">
    <input type="checkbox" [value]="skill" (change)="toggleSkill(skill, $event)"> {{ skill }}
  </div><br>
 
  <button type="submit">Add Employee</button>
</form>
 
<p class="success" *ngIf="successMessage">{{ successMessage }}</p>
<p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
