<div class="container">
  <h2>Matching Employees with Project {{proName}} {{proId}}</h2>
 
  <!-- with Project {{projectName}} {{projectId}} -->
  <div *ngIf="isLoading" class="info">Loading data...</div>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
 
  <table *ngIf="!isLoading && matchingEmployees.length" class="employee-table">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Name</th>
        <!-- <th>Email</th>  -->
        <th>Designation</th>
        <th>Skill Set</th>
        <th>Skill Match %</th>
        <th>Assign</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of matchingEmployees">
        <td>{{ emp.empId }}</td>
        <td>{{ emp.empName }}</td>
        <!-- <td>{{ emp.empEmail }}</td>  -->
        <td>{{ emp.designation }}</td>
        <td>{{ emp.skills }}</td>
        <td>{{ emp.matchPercentage | number: '1.0-2'}}%</td>
        <td><button (click)="assignEmployee(emp.empId)">Assign</button></td>
      </tr>
    </tbody>
  </table>
 
  <div *ngIf="!isLoading && !matchingEmployees.length" class="info">No matching employees found.</div>
</div>
 