<h2>Understaffed Projects</h2>
 
<p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
 
<table class="project-table" *ngIf="projects.length > 0">
  <thead>
    <tr>
      <th>Project ID</th>
      <th>Project Name</th>
      <th>Capacity</th>
      <th>Required Skills</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects">
      <td>{{ project.proId }}</td>
      <td>{{ project.proName }}</td>
      <td>{{ project.capacity }}</td>
      <td>{{ project.requiredSkills }}</td>
    </tr>
  </tbody>
</table>
 
<p *ngIf="projects.length === 0 && !errorMessage">No understaffed projects found.</p>
