<div [ngClass]="{ 'signup-page': true }">

<div class="signup-container">
  <h2>Signup</h2>
  <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
 
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="user.empName" required />
 
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" [(ngModel)]="user.username" required />
 
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="user.password" required />
 
    <label for="role">Role:</label>
    <select id="role" name="role" [(ngModel)]="user.role" required>
      <option value="" disabled selected>Select Role</option>
      <option value="admin">Admin</option>
      <option value="manager">Manager</option>
      <option value="employee">Employee</option>
    </select>
 
    <label for="designation">Designation:</label>
    <input type="text" id="designation" name="designation" [(ngModel)]="user.designation" required />
 
    <label>Availability:</label><br />
    <label>
      <input type="radio" name="Availability" [(ngModel)]="user.available" [value]="true" required />
      Yes
    </label>
    <label>
      <input type="radio" name="Availability" [(ngModel)]="user.available" [value]="false" />
      No
    </label>
 
    <label>Skillset:</label>
    <div class="checkbox-group">
            <label><input type="checkbox" [(ngModel)]="user.skills.Java" name="Java" /> Java</label>
            <label><input type="checkbox" [(ngModel)]="user.skills.Cpp" name="Cpp" /> C++</label>
            <label><input type="checkbox" [(ngModel)]="user.skills.Python" name="Python" /> Python</label>
            <label><input type="checkbox" [(ngModel)]="user.skills.SpringBoot" name="Spring Boot" /> Spring Boot</label>
            <label><input type="checkbox" [(ngModel)]="user.skills.SQL" name="SQL" /> SQL</label>
            <label><input type="checkbox" [(ngModel)]="user.skills.MEAN" name="MEAN" /> MEAN</label>
            <label><input type="checkbox" [(ngModel)]="user.skills.MERN" name="MERN" /> MERN</label>

    </div>
 
    <label for="projectId">Project ID:</label>
    <select id="projectId" [(ngModel)]="user.proId" name="projectId" required>
      <option *ngFor="let id of projectIds" [value]="id">{{ id }}</option>
    </select>
 
    <button type="submit">Submit</button>
  </form>
 
    <p>
    Already have an account? <a routerLink="/login">Login</a>
  </p>
 
</div>
</div>
 
 
 