.dashboard-container {
  text-align: center;
  margin-top: 50px;
}
 
button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
 
button:hover {
  background-color: #45a049;
}