<div class="view-employee-container">
  <h2>View Employee Details</h2>
 
  <div *ngIf="employee; else errorBlock">
    <p><strong>Employee ID:</strong> {{ employee.empId }}</p>
    <p><strong>Name:</strong> {{ employee.empName }}</p>
    <p><strong>Designation:</strong> {{ employee.designation }}</p>
    <p><strong>Availability:</strong> {{ employee.available ? 'Available' : 'Not Available' }}</p>
    <p><strong>Project ID:</strong> {{ employee.projectEntity?.proId || 'Not Assigned' }}</p>
    <p><strong>Skills:</strong> {{ employee.skills }}</p>
  </div>
 
  <ng-template #errorBlock>
    <p class="error">{{ errorMessage }}</p>
  </ng-template>
  <br>
  <button (click)="goBackToDashboard()" class="back-btn">← Back to Dashboard</button>


</div>
