<div class="view-project-container">
  <h2>View Assigned Project</h2>
 
<div *ngIf="project; else errorBlock">
    <p><strong>Project ID:</strong> {{ project.proId }}</p>
    <p><strong>Project Name:</strong> {{ project.proName }}</p>
    <p><strong>Description:</strong> {{ project.proDescription}}</p>
    <p><strong>Required Skills:</strong> {{ project.requiredSkills }}</p>
    <p><strong>Capacity:</strong> {{ project.capacity }}</p>
  </div>
 
  <!-- Toggle Button -->
  <button (click)="toggleMembers()">
    {{ showMembers ? 'Hide Project Members' : 'Show Project Members' }}
  </button>
 
  <!-- Project Members List - toggled by the above button -->
  <div *ngIf="showMembers">
    <h3>Project Members:</h3>
    <ul>
      <li *ngFor="let member of projectMembers">
        {{ member.empName }} - {{ member.designation }}
      </li>
    </ul>
  </div>
</div>
 
<ng-template #errorBlock>
  <p class="error">{{ errorMessage }}</p>
</ng-template>
<!-- <button (click)="goBackToDashboard()" class="back-btn">← Back to Dashboard</button> -->

 
 
 
